<!DOCTYPE html>
<html lang="en">
<head>
    <title>Инструменты</title>
    <link href="web/css/index.css" rel="stylesheet" tipe="text/css">
    <link href="web/css/units.css" rel="stylesheet" tipe="text/css">
    <script src="web/javascript/spy.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-panel">

    </div>


    <div id="divMainMenu"  class="topMenu">
        <ul id="mainMenuItems" class="topMenuUl">
            {{#page.mainMenu.items}}<li class="topMenuLi"><a href="{{link}}" class="topMenuA">{{name}}</a></li> {{/page.mainMenu.items}}
        </ul>
        <br>
    </div>
    <div id="advertising" class="rightMenu">
        <ul id="advertisingItems" >
            {{# page.advertising.items}}<li><a href="{{link}}">{{name}}</a></li> {{/ page.advertising.items}}
        </ul>
    </div>
</header>

    <!--spy-->
    <div id="user" class="spy">


        <label for="userName">Имя пользователя</label>
        <input type="text"   id="userName"  class="textboxWithLinck"  required><br>
        <input type="button" onclick="addUser()" name="addUser" value="Добавить себя">


    </div>

    <!--spy-->
    <div id="beforGame" class="beforGame" hidden>

    <input type="button" onclick="startGame()" name="startGame" value="Начать игру">


    </div>

<!--spy-->
<div id="game" class="game" hidden>
    <textarea id="gamerInformation">

    </textarea>
    <input type="button" onclick="showSpy()" name="showSpy" value="Показать шпиона">
    <input type="button" onclick="isSpyShowen()" name="isSpyShowen" value="Видел ли кто шпиона">
    <input type="button" onclick="stopGame()" name="stopGame" value="Закончить игру">

</div>





</body>
</html>