{{>web/html/layout/header}}

<!--Боковое меню-->
<div id="menuCounting" class="leftMenu">
    <ul id="menuCountingItems" >
        {{# page.content.counterMenu.items}}<li><a onclick='menuClick("{{link}}")'>{{name}}</a></li> {{/ page.content.counterMenu.items}}
    </ul>
</div>
<!--Что это?-->
<div id="main" class="bodyDiv">
{{# page.content}}{{descriptionText}}{{/page.content}}
</div>
<!--Перевод из систем счисления-->
<div id="notation" class="bodyDiv" hidden>


        <label for="notationParentBase">Исходное основание</label>
        <input type="number"   id="notationParentBase"  onchange="notation()" onkeyup="notation()" class="textboxWithLinck" min="0"  value="10" required><br>
        <label for="notationResultBase">Основание результата</label>
        <input type="number"  id="notationResultBase" onchange="notation()"  onkeyup="notation()" class="textboxWithLinck" min="0"    value="16" required><br>
        <label for="notationNumber">Переводимое число</label>
        <input Tipe="text" class="textboxWithLinck" id="notationNumber" onkeyup="notation()"  value="0" required pattern="#[0-9A-Za-z]"><br>
        <h2 id="notationResult">0</h2>


</div>
<!--Расет СRC-->
<div id="crc" class="bodyDiv" hidden>


            <label for="crcParentBase">Исходное основание</label>
            <input type="number"   id="crcParentBase"   onkeyup="crc()" onchange="crc()" class="textboxWithLinck"  min="0"  value="10" required><br>
            <label for="crcResultBase">Основание результата</label>
            <input type="number" id="crcResultBase"   onkeyup="crc()" onchange="crc()" class="textboxWithLinck" min="0"  value="10" required><br>
            <label for="crcNumber">Переводимый массив чисел</label>
            <input Tipe="text"  id="crcNumber" onkeyup="crc()"class="textboxWithLinck"    required pattern="#[0-9A-Fa-f]">
            <br><br>
            <h2 id="crc8Result">result1</h2>
            <h2 id="crc16Result">result1</h2>
</div>

{{>web/html/layout/footer}}