<!DOCTYPE html>
<html lang="en">
<head>
    <title>Инженерные инструменты</title>
    <link href="web/css/index.css" rel="stylesheet" tipe="text/css">
    <link href="web/css/unitsWs.css" rel="stylesheet" tipe="text/css">
    <script src="web/javascript/unitsWs.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body onload="run()">
<header>
    <div class="header-panel">

    </div>


    <div id="divMainMenu"  class="topMenu">
        <ul id="mainMenuItems" class="topMenuUl">
            {{#page.mainMenu.items}}<li class="topMenuLi"><a href="{{link}}" class="topMenuA">{{name}}</a></li> {{/page.mainMenu.items}}
        </ul>
        <br>
    </div>
    <div id="advertising" class="rightMenu">
        <ul id="advertisingItems" >
            {{# page.advertising.items}}<li><a href="{{link}}">{{name}}</a></li> {{/ page.advertising.items}}
        </ul>
    </div>
</header>

<!--Боковое меню-->
<div id="menuCounting" class="leftMenu">
    <ul id="menuCountingItems" >
        {{# page.pageBody.counterMenu.items}}<li><a onclick='menuClick("{{link}}")'>{{name}}</a></li> {{/ page.pageBody.counterMenu.items}}
    </ul>
</div>
<!--Что это?-->
<div id="main" class="bodyDiv">
    {{# page.pageBody}}{{descriptionText}}{{/page.pageBody}}
</div>
<!--Расчет провиса стального троса без нагрузки-->
<div id="ropeSlack" class="bodyDiv"  hidden>

    Расчет провиса стального троса с нагрузкой. Для расчетов использовался учебник Дукельского А.И "Подвесные канатные дороги и кабельные краны".
    <label for="l">Пролет l[м]</label>
    <input type="number"   id="l"  onchange="ropeSlack()" onkeyup="ropeSlack()" class="textboxWithLinck" min="0"  value="1000" required><br>

    <label for="h">Разность высот опор h[м] </label>
    <input type="number"  id="h" onchange="ropeSlack()"  onkeyup="ropeSlack()" class="textboxWithLinck" min="0"    value="500" required><br>

    <label for="g0">Погонный вес каната g0[кгс/м]</label>
    <input type="number"   id="g0"  onchange="ropeSlack()" onkeyup="ropeSlack()" class="textboxWithLinck" min="0"  value="8.5" step = "0.1" required><br>

    <label for="Ta">Натяжение у верхней опоры Tа [н] </label>
    <input type="number"  id="Ta" onchange="ropeSlack()"  onkeyup="ropeSlack()" class="textboxWithLinck" min="0"     value="300000" required><br>



    <h2 for="ropeSlackMax">Провис fmax [м]</h2>
    <h2 id="ropeSlackMax">48.3</h2>



    <h2 >Графики</h2>
    <canvas id="ropeFormGraf"   ></canvas>
    <canvas id="slackGraf" ></canvas>


</div>

<!--Расчет провиса стального троса с нагрузкой-->
<div id="ropeSlackCargo" class="bodyDiv"  hidden>

    Расчет провиса стального троса с нагрузкой. Для расчетов использовался учебник Дукельского А.И "Подвесные канатные дороги и кабельные краны".
    <label for="lCargo">Пролет l[м]</label>
    <input type="number"   id="lCargo"  onchange="ropeSlackCargo()" onkeyup="ropeSlackCargo()" class="textboxWithLinck" min="0"  value="1000" required><br>

    <label for="hCargo">Разность высот опор h[м] </label>
    <input type="number"  id="hCargo" onchange="ropeSlackCargo()"  onkeyup="ropeSlackCargo()" class="textboxWithLinck" min="0"    value="500" required><br>

    <label for="g0Cargo">Погонный вес каната g0[кгс/м]</label>
    <input type="number"   id="g0Cargo"  onchange="ropeSlackCargo()" onkeyup="ropeSlackCargo()" class="textboxWithLinck" min="0"  value="8.5" step = "0.1" required><br>

    <label for="TaCargo">Натяжение у верхней опоры Tа [н] </label>
    <input type="number"  id="TaCargo" onchange="ropeSlackCargo()"  onkeyup="ropeSlackCargo()" class="textboxWithLinck" min="0"     value="300000" required><br>

    <label for="mCargo">Масса разника (груза)  [кг] </label>
    <input type="number"  id="mCargo" onchange="ropeSlackCargo()"  onkeyup="ropeSlackCargo()" class="textboxWithLinck" min="0"     value="150" required><br>

    <h2 for="cargoHighMin">Минимальная высота груза [м]</h2>
    <h2 id="cargoHighMin"></h2>


    <h2 for="ropeHighMin">Минимальная высота веревки без груза [м]</h2>
    <h2 id="ropeHighMin"></h2>


    <h2 >Графики</h2>
    <canvas id="ropeFormGrafCargo"   ></canvas>
    <canvas id="slackGrafCargo" ></canvas>


</div>


</body>
</html>