{{>web/html/layout/header}}

<div>
    <p>Для доступа к контролю плат введите ваш логин и пароль:</p>
</div>
<div class="form">

    <div class="form-line">
        <label for="login">Логин</label>
        <input type="text" name="login">
    </div>

    <div class="form-line">
        <label for="password"></label>
        <input type="password" name="password">
    </div>

</div>

{{>web/html/layout/footer}}