<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{page.content.title}}</title>
    <link href="/web/css/index.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    {{#page.content.additionalCss}}<link rel="stylesheet" type="text/css" href="{{.}}">{{/page.content.additionalCss}}
    {{#page.content.additionalScripts}}<script src="{{.}}"></script>{{/page.content.additionalScripts}}
</head>
<body>
<header>
    <div class="header-panel">

    </div>


    <div id="mainMenu"  class="topMenu">
        <ul id="mainMenuItems" class="topMenuUl">
            {{#page.mainMenu.items}}<li class="topMenuLi"><a href="{{link}}" class="topMenuA">{{name}}</a></li> {{/page.mainMenu.items}}
        </ul>
        <br>
    </div>
    <div id="advertising" class="rightMenu">
        <ul id="advertisingItems" >
            {{# page.advertising.items}}<li><a href="{{link}}">{{name}}</a></li> {{/ page.advertising.items}}
        </ul>
    </div>
</header>